.about-section {
    border: 2px solid red;
    @include phones {
        padding-top: rem(46px);
    }
}

.about-container {
    border: 2px solid blue;

    @include phones {
        width: 90%;
        margin: 0 auto;
    }
}

.about-section__title {
    @include phones {
        font-size: rem(18px);
        font-weight: normal;
        margin-left: rem(30px);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: rem(23px);
            height: rem(2px);
            background-color: #000;
            top: rem(8px);
            left: rem(-30px);
        }
    }
}