.comments-container {
    margin: 0 auto;
    @include tablets {
        width: 84%;
 
    }
    @include phones {
        width: 90%;
    }
}

.comments-carousel__wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.comments-carousel__list {
    display: flex;
    width: 300%;
}

.comment-carousel__item {
    width: 100%;
    @include tablets {
        margin-bottom: rem(80px);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    @include phones {
        margin-bottom: rem(65px);
    }
}

.comment-wrapper {
    @include tablets {
        width: 48%;
    }
}

.comment-photo__block {
    width: rem(98px);
    height: rem(94px);
    border-radius: 50%;
    @include phones {
        margin: 0 auto;
        margin-bottom: rem(20px);
    }
            img {
                width: rem(98px);
                height: rem(94px);
            }
}

.comment-title-name {
    font-weight: normal;
    margin-bottom: rem(12px);
    @include tablets {
        text-align: left;
    }
    @include phones {
        font-size: rem(16px);
        text-align: center;
    }
}

.comment-info__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablets {
        width: 50%;
        margin-bottom: rem(20px);
    }
    @include phones {
        width: 47%;
        margin: 0 auto rem(30px);
    }
}

.comments__text {
    @include phones {
        text-align: center;
    }
}

.comment-social__link {
    font-size: 0;
    display: block;
    background-color: #91aa59;
    width: rem(25px);
    height: rem(25px);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;

    &--vk {
        background-image: url(../img/vk.png);
    }

    &--ig {
        background-image: url(../img/instagram.png);
    }
}

.carousel-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 21%;
}

.carousel__btn {
    font-size: 0;
    cursor: pointer;
        width: rem(15px);
        height: rem(15px);
        border-radius: rem(20px);
        background-color: #d5dec1;
        border: none;
}

.active-btn {
    width: rem(18px);
    height: rem(18px);
    background-color: #91aa59;

}

.comments-carousel__btn {
    cursor: pointer;
    width: rem(15px);
    height: rem(26px);
    border: none;
    font-size: 0;
    background-color: transparent;
    @include tablets {
        position: absolute;
        top: rem(50px);
        &--back {
            background-image: url(../img/left-arrow.png);
            background-size: contain;
        }
        &--next {
            right: 0;
            background-image: url(../img/left-arrow.png);
            transform: rotate(180deg);
            background-size: contain;
        }
    }
    @include phones {
        display: none;
    }
}