.main-footer {
    background-color: #91aa59;
    @include tablets {
        padding: rem(18px) 0;
    }
    @include phones {
        padding-top: rem(40px);
    }
}

.footer-container {
    margin: 0 auto;
    @include tablets {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include phones {
        width: 47%;
    }
}

.footer__logo {
    order: 2;
    @include phones {
        margin: 0 auto;
        width: 33%;
        margin-bottom: rem(12px);

    }
}

.footer-socials__block {
    order: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include tablets {
        width: 20%;
    }
    @include phones {
        margin-bottom: rem(30px);
    }
}

.footer-socials__link {
    display: block;
    font-size: 0;
    width: rem(23px);
    height: rem(19px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    &--vk {
        background-image: url(../img/vk-footer.png);
    }

    &--ig {
        background-image: url(../img/instagram-footer.png);
    }

    &--fb {
        background-image: url(../img/facebook-footer.png);
    }

}

.footer-copyright__text {
    order: 1;
    color: #fff;
    @include phones {
        font-size: rem(10px);
        line-height: rem(20px);
        text-align: center;
    }
}