.main-header {
    background-color: #91aa59;
    width: 100%;

    @include phones {
        padding-top: rem(12px);

    }
}

.header-container {
    @include phones {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;

    }
}

.main-nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 90vh;
    background-color: #91aa59;
}
.main-nav__list {
    padding-top: rem(90px);
    padding-left: 22%;
}

.main-nav__item {
    margin-bottom: rem(34px);
}

.main-nav__link {
    @include phones {
        font-size: rem(18px);
        color: #ffffff;
        line-height: rem(43px);
    }
}

.main-nav__close-btn {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    border: none;
    font-size: 0;
    top: rem(24px);
    right: 5%;
    background-color: transparent;
    padding: rem(13px);

    &::before {
        content: '';
        position: absolute;
        width: rem(37px);
        height: rem(2px);
        background-color: #fff;
        top: rem(12px);
        right: rem(-5px);
        transform: rotate(45deg);
    }

    &::after {
        content: '';
        position: absolute;
        width: rem(37px);
        height: rem(2px);
        background-color: #fff;
        top: rem(12px);
        right: rem(-5px);
        transform: rotate(135deg);
    }
}

.main-nav__btn {
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url(../img/burger-menu.png);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.header__center-container {
    margin: 0 auto;
    @include phones {
        padding: rem(97px) 5% rem(210px);
        background: url(../img/header-bg-mobile.jpg) 100% 100% / contain no-repeat;

    }
}

.main-header__title {
    color: #ffffff;
    text-transform: uppercase;
    @include phones {
        letter-spacing: rem(3px);
        margin-right: rem(124px);
        font-size: rem(30px);
        line-height: rem(30px);
        font-weight: normal;
        margin-bottom: rem(25px);
    }
}

.main-header__btn {
    border: rem(2px) solid #ffffff;
    background-color: transparent;
    border-radius: rem(20px);
    color: #ffffff;
    cursor: pointer;


    @include phones {
        font-size: rem(11px);
        line-height: rem(11px);
        padding: rem(12.5px) rem(24.5px);
    }

    &:hover {
        background-color: #fff;
        color: #91aa59;

    } 

}

.hidden {
    display: none;
}