.main-header {
    background-color: #91aa59;
    width: 100%;
    padding-top: rem(26px);
    background-image: url(../img/bg-desctop-figure+.png) ,url(../img/bg-desctop.jpg);
    background-size: 50%, cover;
    background-repeat: no-repeat;
    background-position: 60% 100%;


    @include tablets {
        padding-top: rem(22px);
        background-image: url(../img/header-bg-tablet.jpg);
        background-size: cover;
    }

    @include phones {
        padding-top: rem(12px);
        background-image: none;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;

    @include tablets {
        width: 84%;
    }

    @include phones {
        width: 90%;
    }
}

.header-phone {
    font-weight: bold;

    @include phones {
        display: none;
    }
}

.main-nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #91aa59;
    z-index: 2;

    @include tablets {
        height: 80vh;  
    }
    
    @include phones {
        height: 90vh;
    }
}

.main-nav__btn {
    width: rem(20px);
    height: rem(20px);
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url(../img/burger-menu.png);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.main-nav__list {
    padding-left: 22%;

    @include tablets {
        padding-top: rem(118px);
 
    }

    @include phones {
        padding-top: rem(90px);
    }
}

.main-nav__item {
    @include tablets {
        margin-bottom: rem(70px);
 
    }

    @include phones {
        margin-bottom: rem(34px);
    }
}

.main-nav__link {
    color: #ffffff;

    @include tablets {
        font-size: rem(36px);
        line-height: rem(60px);
  
    }

    @include phones {
        font-size: rem(18px);
        line-height: rem(43px);
    }
}

.main-nav__close-btn {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    border: none;
    font-size: 0;
    top: rem(24px);
    right: 5%;
    background-color: transparent;
    padding: rem(13px);

    &::before {
        content: '';
        position: absolute;
        width: rem(37px);
        height: rem(2px);
        background-color: #fff;
        top: rem(12px);
        right: rem(-5px);
        transform: rotate(45deg);
    }

    &::after {
        content: '';
        position: absolute;
        width: rem(37px);
        height: rem(2px);
        background-color: #fff;
        top: rem(12px);
        right: rem(-5px);
        transform: rotate(135deg);
    }
}


.header__center-container {
    margin: 0 auto;
    padding: rem(135px) 7% rem(288px);

    @include tablets {
        padding: rem(130px) 8% rem(190px);
    }

    @include phones {
        padding: rem(97px) 5% rem(210px);
        background: url(../img/header-bg-mobile.jpg) 100% 100% / contain no-repeat;

    }
}

.main-header__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: rem(58px);
    letter-spacing: rem(4.35px);
    margin-right: 65%;
    line-height: rem(60px);
    margin-bottom: rem(50px);

    @include tablets {
        font-size: rem(48px);
        letter-spacing: rem(3.6px);
        margin-right: rem(390px);
        line-height: rem(50px);
        margin-bottom: rem(58px);

    }

    @include phones {
        font-size: rem(30px);
        letter-spacing: rem(3px);
        margin-right: rem(124px);
        line-height: rem(30px);
        margin-bottom: rem(25px);
    }
}

.main-header__slogan {
    color: #fff;
    font-size: rem(18px);
    line-height: rem(30px);
    margin-bottom: rem(52px);

    @include tablets {
        margin-bottom: rem(42px);
    }

    @include phones {
        display: none;
    }
}

.main-header__btn {
    border: rem(2px) solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    font-size: rem(14px);
    padding: rem(15px) rem(60px);
    border-radius: rem(27px);


    &:hover {
        background-color: #fff;
        color: #91aa59;
    } 
           
    @include phones {
        font-size: rem(11px);
        line-height: rem(11px);
        padding: rem(12.5px) rem(24.5px);
        border-radius: rem(20px);
    }
}

.hidden {
    display: none;
}