.info-section {
    padding-top: rem(49px);
}

.info-container {
    margin: 0 auto;
    @include tablets {
        width: 84%;
    }
    @include phones {
        width: 90%;
    }
}

.info-section__item {
    @include tablets {
        padding: rem(105px) 0;
    }
    @include phones {
        margin-bottom: rem(80px);
    }

        &:first-child {
            @include tablets {
                padding-right: 42%;
                background-image: url(../img/pose-1-tablet.png);
                background-repeat: no-repeat;
                background-position: 100% 0;
                background-size: contain;

            }
            @include phones {
                background-image: url(../img/pose-1-mobile.png);
                background-repeat: no-repeat;
                background-position: 50% rem(23px);

            }
        }

        &:nth-child(2) {
            @include tablets {
                padding-left: 51%;
                background-image: url(../img/pose-2-tablet.png);
                background-repeat: no-repeat;
                background-size: contain;

            }
            @include phones {
                background-image: url(../img/pose-2-mobile.png);
                background-repeat: no-repeat;
                background-position: 50% rem(20px); 
                background-size: rem(195px) rem(280px);
            }
        }
        &:nth-child(3) {
            @include tablets {
                padding-right: 48%;
                background-image: url(../img/pose-3-tablet.png);
                background-repeat: no-repeat;
                background-position: 100% 0;

            }
            @include phones {
                background-image: url(../img/pose-3-mibile.png);
                background-repeat: no-repeat;
                background-position: 50% rem(20px); 
            }
        }
        &:last-child {
            @include tablets {
                padding-left: 58%;
                background-image: url(../img/pose-4-tablet.png);
                background-repeat: no-repeat;

            }
            @include phones {
                background-image: url(../img/pose-4-mobile.png);
                background-repeat: no-repeat;
                background-position: 50% rem(20px); 
            }
        }


}

.info-item__title {
    font-weight: normal;
    @include tablets {
        font-size: rem(18px);
    }
    @include phones {
        font-size: rem(14px);
        text-align: center;
        margin-bottom: rem(280px)
    }
}

.info-item__text {
    @include phones {
        text-align: center;

    }
}