.timetable-section {
    @include tablets {
        padding-top: rem(57px);
    }

    @include phones {
        padding-top: rem(45px);
    }
}

.timetable-container {
    margin: 0 auto;

    @include tablets {
        width: 84%;
    }
     @include phones {
        width: 90%;
     }   
}

.timetable__list {

    @include tablets {
        display: flex;
        justify-content: space-between;
    }
    @include phones {
        width: 84%;
        margin: 0 auto;
    }
}

.timetable__item {
    border: 1px solid transparent;
    position: relative;
    border-radius: rem(4px);


    &:first-child {
        background-color: #c8d4ac;
        @include phones {
            margin-bottom: rem(20px);
        }
        &::before {
            content: '01';
            position: absolute;
            font-size: rem(114px);
            color: #fff;
            opacity: 0.2;
            font-weight: bold;
            left: rem(80px);
        }
    }
    &:nth-child(2) {
        background-color: #b2c38a;
        @include phones {
            margin-bottom: rem(20px);
        }
        &::before {
            content: '02';
            position: absolute;
            font-size: rem(114px);
            color: #fff;
            opacity: 0.2;
            font-weight: bold;
            left: rem(80px);
        }
    }
    &:last-child {
        background-color: #9cb269;
        &::before {
            content: '03';
            position: absolute;
            font-size: rem(114px);
            color: #fff;
            opacity: 0.2;
            font-weight: bold;
            left: rem(80px);
        }
    }

    @include tablets {
        width: 30%;
        padding-top: rem(100px);
        padding-left: 2%;
    }
  
    @include phones {
        padding-top: rem(100px);
        padding-left: 17%;
    }
}

.timetable-item__container {
    margin-bottom: rem(41px);
}

.timetable-item__title {
    color: #fff;
    text-transform: uppercase;
    font-size: rem(12px);
    letter-spacing: rem(1.2px);

    &--big {
        font-size: rem(18px);
        margin-bottom: rem(17px);
    }
}

.timetable-item__text {
    color: #fff;
    text-transform: uppercase;
    font-size: rem(16px);

}

.price {
    margin-bottom: rem(27px);
}

.time {
    margin-bottom: rem(18px);
}

.last-item-time {
    margin-bottom: rem(32px);
}

.timetable-item__link {
    color: #fff;
    border: rem(2px) solid #fff;
    border-radius: rem(20px);
    display: block;
    position: relative;
    width: rem(132px);
    text-align: center;
    &::after {
        content: '';
        position: absolute;
        width: rem(31px);
        height: rem(12px);
        background: url(../img/btn-arrow.png) 0 0 / contain no-repeat;
        @include tablets {
            top: rem(8px);
            left: rem(110px);

        }
        @include phones {
            top: rem(18px);
            left: rem(110px);
        }
    }

    @include phones {
        padding: rem(10px) 0;
    }
}