.timetable-section {
    @include phones {
        padding-top: rem(45px);
    }
}

.timetable-container {
     @include phones {
        width: 90%;
        margin: 0 auto;
     }   
}

.timetable__list {
    @include phones {
        width: 84%;
        margin: 0 auto;
    }
}

.timetable__item {
    border: 1px solid transparent;
    position: relative;
    &:first-child {
        background-color: #c8d4ac;
        margin-bottom: rem(20px);
        &::before {
            content: '01';
            position: absolute;
            font-size: rem(114px);
            color: #fff;
            opacity: 0.2;
            font-weight: bold;
            left: rem(80px);
        }
    }
    &:nth-child(2) {
        background-color: #b2c38a;
        margin-bottom: rem(20px);
        &::before {
            content: '02';
            position: absolute;
            font-size: rem(114px);
            color: #fff;
            opacity: 0.2;
            font-weight: bold;
            left: rem(80px);
        }


    }
    &:last-child {
        background-color: #9cb269;
        &::before {
            content: '03';
            position: absolute;
            font-size: rem(114px);
            color: #fff;
            opacity: 0.2;
            font-weight: bold;
            left: rem(80px);
        }
    }
  
    @include phones {
        padding-top: rem(100px);
        padding-left: 17%;
        border-radius: rem(4px);

    }
}

.timetable-item__container {
    @include phones {
        margin-bottom: rem(41px);
    }
}

.timetable-item__title {
    color: #fff;
    text-transform: uppercase;
    @include phones {
        font-size: rem(12px);
        letter-spacing: rem(1.2px);

        &--big {
            font-size: rem(18px);
            margin-bottom: rem(17px);
        }
    }
}

.timetable-item__text {
    color: #fff;
    text-transform: uppercase;
    @include phones {
        font-size: rem(16px);
}
}

.price {
    @include phones {
        margin-bottom: rem(27px);
    }
}

.time {
    @include phones {
        margin-bottom: rem(18px);

    }
}

.last-item-time {
    @include phones {
        margin-bottom: rem(32px);

    }

}

.timetable-item__link {
    color: #fff;
    border: rem(2px) solid #fff;
    border-radius: rem(20px);
    display: block;
    position: relative;

    @include phones {
        padding: rem(10px) 0;
        width: rem(132px);
        text-align: center;
        &::after {
            content: '';
            position: absolute;
            width: rem(31px);
            height: rem(12px);
            background: url(../img/btn-arrow.png) 0 0 / contain no-repeat;
            top: rem(18px);
            left: rem(110px);

        }
    }
}